<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>Tasting the Cars</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="Keywords" content="Cars,karasawa">
  <meta name="Description" content="Tasting the cars">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
  <link href="./css/header-footer.css" rel="stylesheet">
  <link href="./css/Firstview-slide.css" rel="stylesheet">
  <link href="./css/main1.css" rel="stylesheet">
  <link href="./css/main2.css" rel="stylesheet">
  <link href="./css/news.css" rel="stylesheet">
  <link href="./css/svg.css" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="./images/apple-touch-icon.png">


</head>

<body>


  <header class="header">
    <div class="header-top">
      <a href="./favorite.html">FAVORITE LIST</a>
    </div>
    <div class="header-inner">
      <a class="header-logo" href="./web3.html">
        <img src="./images/android-chrome-192x192.png" alt="Tasting the car logo">
      </a>
      <button class="toggle-menu-button">
      </button>
      <div class="header-site-menu">
        <nav class="site-menu">
          <ul>
            <li><a href="./home.html">HOME</a></li>
            <li><a href="./serch.html">SERCH</a></li>
            <li><a href="./favorite.html">FAVORITE</a></li>
            <li><a href="./news.html">NEWS</a></li>
            <li><a href="./forsevice.html">FOR SERVICE</a></li>
          </ul>
        </nav>
      </div>
    </div>

  </header>

  <main class="main">
    <div class="first-view">
      <div class="first-view-text">
        <h1>WE CAN GO EVERYWHERE</h1>
        <p>A car is one of life's most significant purchases. <br>You should serch for it and choose one.</p>
      </div>
    </div>


    <div class="new-car">
      <h2>RECOMMENDED NEW CAR MODEL</h2>
      <p>Many new model for this fall</p>

      <ul class="car-list">

        <li><img src="./images/toyota-Noah.jpg" alt="toyota-noah">
          <dl>
            <dt>TOYOTA<br>Noah</dt>

            <div>
              <input type="checkbox" name="pin" class="checkbocx" id="chuo">
              <label for="chuo">
                <svg class="pin-icon" version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="512px" height="512px"
                  style="width: 16px; height: 16px;" viewBox="0 0 512 512" xml:space="preserve">

                  <g>
                    <path class="st0"
                      d="M335.719,0l-49.953,49.953l26.453,26.438c0,0-20.563,20.578-55.844,55.828
            c-61.688,61.703-133.813,48.891-165.859,16.828l-45.406,45.406l272.438,272.453l45.406-45.422
            c-32.047-32.047-44.859-104.172,16.828-165.859c35.25-35.266,55.828-55.828,55.828-55.828l26.438,26.438L512,176.297L335.719,0z">
                    </path>
                    <polygon class="st0"
                      points="138.594,325.328 3.719,460.234 0,512 51.781,508.297 186.672,373.422 162.625,349.375 	">
                    </polygon>
                  </g>
                </svg>
              </label>
            </div>
            <div class="favoritebt">Add</div>
            <div class="detail-button">
              <a href="./detail.html">Details</a>
            </div>
          </dl>
        </li>


        <li><img src="./images/jeep-wrangler.jpg" alt="jeep jeep-wrangler">
          <dl>
            <dt>Jeep<br>Wrangler</dt>

            <div>
              <input type="checkbox" name="pin" class="checkbocx" id="chuo">
              <label for="chuo">
                <svg class="pin-icon" version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="512px" height="512px"
                  style="width: 16px; height: 16px;" viewBox="0 0 512 512" xml:space="preserve">

                  <g>
                    <path class="st0"
                      d="M335.719,0l-49.953,49.953l26.453,26.438c0,0-20.563,20.578-55.844,55.828
                      c-61.688,61.703-133.813,48.891-165.859,16.828l-45.406,45.406l272.438,272.453l45.406-45.422
                      c-32.047-32.047-44.859-104.172,16.828-165.859c35.25-35.266,55.828-55.828,55.828-55.828l26.438,26.438L512,176.297L335.719,0z">
                    </path>
                    <polygon class="st0"
                      points="138.594,325.328 3.719,460.234 0,512 51.781,508.297 186.672,373.422 162.625,349.375 	">
                    </polygon>
                  </g>
                </svg>
              </label>
            </div>
            <div class="favoritebt">Add</div>

            <div class="detail-button">
              <a href="./detail.html">Details</a>
            </div>
          </dl>
        </li>
        <li>


          <img src="./images/toyota-camry.jpg" alt="TOYOTA camry">
          <dl>
            <dt>TOYOTA<br>Camry</dt>

            <div>
              <input type="checkbox" name="pin" class="checkbocx" id="chuo">
              <label for="chuo">
                <svg class="pin-icon" version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="512px" height="512px"
                  style="width: 16px; height: 16px;" viewBox="0 0 512 512" xml:space="preserve">

                  <g>
                    <path class="st0"
                      d="M335.719,0l-49.953,49.953l26.453,26.438c0,0-20.563,20.578-55.844,55.828
                      c-61.688,61.703-133.813,48.891-165.859,16.828l-45.406,45.406l272.438,272.453l45.406-45.422
                      c-32.047-32.047-44.859-104.172,16.828-165.859c35.25-35.266,55.828-55.828,55.828-55.828l26.438,26.438L512,176.297L335.719,0z">
                    </path>
                    <polygon class="st0"
                      points="138.594,325.328 3.719,460.234 0,512 51.781,508.297 186.672,373.422 162.625,349.375 	">
                    </polygon>
                  </g>
                </svg>
              </label>
            </div>
            <div class="favoritebt">Add</div>

            <div class="detail-button">
              <a href="./detail.html">Details</a>
            </div>
          </dl>
        </li>

        <li>
          <img src="./images/BMW-4seriescoupe.jpg" alt="BMW4 seriescoupe">
          <dl>
            <dt>BMW<br>4Series Coupe</dt>

            <div>
              <input type="checkbox" name="pin" class="checkbocx" id="chuo">
              <label for="chuo">
                <svg class="pin-icon" version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="512px" height="512px"
                  style="width: 16px; height: 16px;" viewBox="0 0 512 512" xml:space="preserve">

                  <g>
                    <path class="st0"
                      d="M335.719,0l-49.953,49.953l26.453,26.438c0,0-20.563,20.578-55.844,55.828
            c-61.688,61.703-133.813,48.891-165.859,16.828l-45.406,45.406l272.438,272.453l45.406-45.422
            c-32.047-32.047-44.859-104.172,16.828-165.859c35.25-35.266,55.828-55.828,55.828-55.828l26.438,26.438L512,176.297L335.719,0z">
                    </path>
                    <polygon class="st0"
                      points="138.594,325.328 3.719,460.234 0,512 51.781,508.297 186.672,373.422 162.625,349.375 	">
                    </polygon>
                  </g>
                </svg>
              </label>
            </div>
            <div class="favoritebt">Add</div>
            <div class="detail-button">
              <a href="./detail.html">Details</a>
            </div>
          </dl>
        </li>

        <li>
          <img src="./images/Mitsuvishi-HeightWagon.jpg" alt="Mitsuvishi HeightWagon">
          <dl>
            <dt>MITSUBISHI<br>Height Wagon</dt>

            <div>
              <input type="checkbox" name="pin" class="checkbocx" id="chuo">
              <label for="chuo">
                <svg class="pin-icon" version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="512px" height="512px"
                  style="width: 16px; height: 16px;" viewBox="0 0 512 512" xml:space="preserve">

                  <g>
                    <path class="st0"
                      d="M335.719,0l-49.953,49.953l26.453,26.438c0,0-20.563,20.578-55.844,55.828
            c-61.688,61.703-133.813,48.891-165.859,16.828l-45.406,45.406l272.438,272.453l45.406-45.422
            c-32.047-32.047-44.859-104.172,16.828-165.859c35.25-35.266,55.828-55.828,55.828-55.828l26.438,26.438L512,176.297L335.719,0z">
                    </path>
                    <polygon class="st0"
                      points="138.594,325.328 3.719,460.234 0,512 51.781,508.297 186.672,373.422 162.625,349.375 	">
                    </polygon>
                  </g>
                </svg>
              </label>
            </div>
            <div class="favoritebt">Add</div>
            <div class="detail-button">
              <a href="./detail.html">Details</a>
            </div>
          </dl>
        </li>

        <li>
          <img src="./images/peugeot-508SW.jpg" alt="peugeot 508SW">
          <dl>
            <dt>Peugeot<br>508 SW</dt>

            <div>
              <input type="checkbox" name="pin" class="checkbocx" id="chuo">
              <label for="chuo">
                <svg class="pin-icon" version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="512px" height="512px"
                  style="width: 16px; height: 16px;" viewBox="0 0 512 512" xml:space="preserve">

                  <g>
                    <path class="st0"
                      d="M335.719,0l-49.953,49.953l26.453,26.438c0,0-20.563,20.578-55.844,55.828
            c-61.688,61.703-133.813,48.891-165.859,16.828l-45.406,45.406l272.438,272.453l45.406-45.422
            c-32.047-32.047-44.859-104.172,16.828-165.859c35.25-35.266,55.828-55.828,55.828-55.828l26.438,26.438L512,176.297L335.719,0z">
                    </path>
                    <polygon class="st0"
                      points="138.594,325.328 3.719,460.234 0,512 51.781,508.297 186.672,373.422 162.625,349.375 	">
                    </polygon>
                  </g>
                </svg>
              </label>
            </div>
            <div class="favoritebt">Add</div>
            <div class="detail-button">
              <a href="./detail.html">Details</a>
            </div>
          </dl>
        </li>

      </ul>
    </div>
    <div class="main2">
      <div class="car-type">

        <h1>Serch by Car Type</h1>
        <ul class="car-type-list">
          <li>
            <img src="./images/Mitsuvishi-HeightWagon.jpg" alt="small car">
            <dl>
              <dt>
                <div><input type="checkbox" class="type-list" id="small">
                  <label for="small" class="style">Small Car</label>
                </div>
              </dt>

            </dl>
          </li>
          <li>
            <img src="./images/Toyota-raise.jpg" alt="Compact Car">
            <dl>
              <dt>
                <div><input type="checkbox" class="type-list" id="compact">
                  <label for="compact" class="style">Compact Car</label>
                </div>
              </dt>
            </dl>
          </li>
          <li>
            <img src="./images/toyota-Noah.jpg" alt="Minivan">
            <dl>
              <dt>
                <div><input type="checkbox" class="type-list" id="minivan">
                  <label for="minivan" class="style">Minivan</label>
                </div>
              </dt>
            </dl>
          </li>
          <li>
            <img src="./images/toyota-camry.jpg" alt="Sedan">
            <dl>
              <dt>
                <div><input type="checkbox" class="type-list" id="sedan">
                  <label for="sedan" class="style">Sedan</label>
                </div>
              </dt>
            </dl>
          </li>
          <li>
            <img src="./images/BMW-4seriescoupe.jpg" alt="Coupe">
            <dl>
              <dt>
                <div><input type="checkbox" class="type-list" id="coupe">
                  <label for="coupe" class="style">Coupe</label>
                </div>
              </dt>
            </dl>
          </li>
          <li>
            <img src="./images/peugeot-508SW.jpg" alt="Station Wagon">
            <dl>
              <dt>
                <div><input type="checkbox" class="type-list" id="station-wagon">
                  <label for="station-wagon" class="style">Station Wagon</label>
                </div>
              </dt>
            </dl>
          </li>

          <li>
            <img src="./images/jeep-wrangler.jpg" alt="SUV・cross country">
            <dl>
              <dt>
                <div><input type="checkbox" class="type-list" id="suv">
                  <label for="suv" class="style">SUV・Cross Country</label>
                </div>
              </dt>
            </dl>
          </li>
          <li>
            <img src="./images/honda-S660.jpg" alt="Open car">
            <dl>
              <dt>
                <div><input type="checkbox" class="type-list" id="open">
                  <label for="open" class="style">Open Car</label>
                </div>
              </dt>
            </dl>
          </li>
          <li>
            <img src="./images/nissan-serena.jpg" alt="One Box">
            <dl>
              <dt>
                <div><input type="checkbox" class="type-list" id="one-box">
                  <label for="one-box" class="style">One Box</label>
                </div>
              </dt>
            </dl>
          </li>
        </ul>
        <div class="option">
          <h1>Option Serch</h1>
          <label for="maker" class="meker-sty">Maker</label>
          <select name="maker" class="serch-maker" id="maker">
            <option value="" hidden class="select">Select</option>
            <option value=""></option>
            <option value="Jeep">Jeep</option>
            <option value="BMW">BMW</option>
            <option value="TOYOTA">TOYOTA</option>
            <option value="NISSAN">NISSAN</option>
            <option value="HONDA">HONDA</option>
          </select>
          <br>
          <label for="displacement" class="displacement-sty">Displacement</label>
          <select name="displacement" class="serch-maker" id="displacement">
            <option value="" hidden>Select</option>
            <option value=""></option>
            <option value="660">660cc</option>
            <option value="1500">1500cc</option>
            <option value="2000">2000cc</option>
            <option value="3000">3000cc</option>
          </select>
          <div class="atmt">AT/MT</div>
          <div class="at">
            <input type="radio" checked id="11" name="at2"><label for="11">AT</label>
            <input type="radio" id="12" name="at2"><label for="12">MT</label>
          </div>
          <div class="serchbt"><a href="./serch2.html">Serch</a></div>
        </div>

      </div>
      <div class="maker">
        <h1>Serch by Maker</h1>
        <div class="option2">
          <h1>Option Serch</h1>
          <label for="maker2" class="meker-sty2">Maker</label>
          <select name="maker2" class="serch-maker2" id="maker2">
            <option value="" hidden class="select">Select</option>
            <option value=""></option>
            <option value="Jeep">Jeep</option>
            <option value="BMW">BMW</option>
            <option value="TOYOTA">TOYOTA</option>
            <option value="NISSAN">NISSAN</option>
            <option value="HONDA">HONDA</option>
          </select>
          <label for="c-t-s" class="c-t-s">Car Type</label>
          <select name="c-t-s" class="serch-maker2" id="c-t-s">
            <option value="" hidden>Select</option>
            <option value=""></option>
            <option value="Small Car">Small Car</option>
            <option value="Compact Car">Compact Car</option>
            <option value="Minivan">Minivan</option>
            <option value="Sedan">Sedan</option>
            <option value="Coupe">Coupe</option>
            <option value="Statio Wagon">Statio Wagon</option>
            <option value="SUV-CrosCoutry">SUV・Cros Coutry</option>
            <option value="Open-car">Open Car</option>
            <option value="One-box">OneBox</option>
          </select>
          <ul class="car-type-list2">
            <li>
              <img src="./images/Mitsuvishi-HeightWagon.jpg" alt="Mitsubishi">
              <dl>
                <dt>
                  <div><input type="checkbox" class="type-list2" id="mitsubishi">
                    <label for="mitsubishi" class="style2">Mitsubishi</label>
                  </div>
                </dt>

              </dl>
            </li>
            <li>
              <img src="./images/Toyota-raise.jpg" alt="TOYOTA">
              <dl>
                <dt>
                  <div><input type="checkbox" class="type-list2" id="TOYOTA">
                    <label for="TOYOTA" class="style2">TOYOTA</label>
                  </div>
                </dt>
              </dl>
            </li>
            <li>
              <img src="./images/jeep-wrangler.jpg" alt="Jeep">
              <dl>
                <dt>
                  <div><input type="checkbox" class="type-list2" id="Jeep">
                    <label for="Jeep" class="style2">Jeep</label>
                  </div>
                </dt>
              </dl>
            </li>
          </ul>
        </div>
        <label for="displacement2" class="displacement-sty2">Displacement</label>
          <select name="displacement2" class="serch-maker2" id="displacement2">
            <option value="" hidden>Select</option>
            <option value=""></option>
            <option value="660">660cc</option>
            <option value="1500">1500cc</option>
            <option value="2000">2000cc</option>
            <option value="3000">3000cc</option>
          </select>
        <div class="atmt2">AT/MT</div>
        <div class="at2">
          <input type="radio" checked id="13" name="at3"><label for="13">AT</label>
          <input type="radio" id="14" name="at3"><label for="14">MT</label>
        </div>
        <div class="serchbt2"><a href="./serch2.html">Serch</a></div>
      
      <div class="free-serch">
        Full-Text-Serch
        </div>
        <div class="shikaku">
        <form method="get" action="#" class="search_container">
          <input type="text" size="25" placeholder="">
        </form></div>
        <div class="serchbt3"><a href="./serch2.html">Serch</a></div>
      </div>
    </div>
    <div class="news">
      <h1>NEWS<div class="serchbt4"><a href="./serch2.html">List</a></div></h1>
      <ul class="news-list">
      <li>11/24/2022<br><br><a href="./news.html" class="newsbt">Partial Design of the New Serena Unveiled</a></li>
      <li>11/21/2022<br><br><a href="./news.html" class="newsbt">Partially upgraded Elgrand model</a></li>
      <li>11/18/2022<br><br><a href="./news.html" class="newsbt">Executive Personnel Changes</a></li>
      </ul>
    </div>
      
  </main>



  <footer class="footer">
    <a class="footer-logo">
      <a href="./web3.html">
        <img src="./images/android-chrome-192x192.png" alt="Tasting the car logo">
        <p class="images-name">Tasting the Car</p>
      </a>
    </a>
    <div class="footer-site-menu">
      <nav class="site-menu">
        <ul>
          <li><a href="./home.html">HOME</a></li>
          <li><a href="./serch.html">SERCH</a></li>
          <li><a href="./favorite.html">FAVORITE</a></li>
          <li><a href="./news.html">NEWS</a></li>
          <li><a href="./forsevice.html">FOR SERVICE</a></li>
        </ul>
      </nav>
    </div>


    <p class="footer-tel">TEL<br>00-0000-0000</p>
    <p class="footer-time">OPEN<br>Fri-Sun 9:00-17:00</p>
    <p class="footer-location">LOCATION<br>Japan,○○○,○○</p>
  </footer>
  <footer class="footer-copyright">
    <p class="copyright"><small>&copy;Tasting the car</small></p>
  </footer>

  <a class="pagetop" href="#"><div class="pagetop__arrow"></div></a>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script src="./js/slide.js"></script>

</body>



</html>
